.App {
  min-height: 100vh;
background-image: linear-gradient(to top, #f43b47 0%, #453a94 100%);
}

.search-form {
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-bar {
  width: 50%;
  border: none;
  padding: 1% ;
  font-size: 1.6rem;
}

.search-button {
  background: lightblue;
  border: none;
  padding: 10px 20px;
  color: red;
  font-size: 1.6rem;
  margin-left: 2%;
  border-radius: 5px;
}

.recipes {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}